<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.todimssayuda.todosobrimss">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"

        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".PrestamoMedianoPlazo"></activity>
        <activity android:name=".PrestamoCarro" />
        <activity android:name=".PrestamoHipotecario" />
        <activity android:name=".Nutricion" />
        <activity android:name=".Tecnicos" />
        <activity android:name=".MasTecnicos" />
        <activity android:name=".CursosIm" />
        <activity android:name=".ProporcionalAguinaldo" />
        <activity android:name=".Aguinaldo" />
        <activity android:name=".Beca" />
        <activity android:name=".RolVacacional21" />
        <activity android:name=".Festivos21" />
        <activity android:name=".CajaAhorro" />
        <activity android:name=".CalcuVacas" />
        <activity android:name=".AnoMas" />
        <activity android:name=".AnoCinco" />
        <activity android:name=".AnoCuatro" />
        <activity android:name=".AnoTres" />
        <activity android:name=".AnoDos" />
        <activity android:name=".AnoUno" />
        <activity android:name=".MarcasDeInclusion" />
        <activity android:name=".ProporcionalJulio" />
        <activity android:name=".SegundaDeJulio" />
        <activity android:name=".Bono" />
        <activity android:name=".Calculadora" />
        <activity android:name=".Prestaciones" />
        <activity android:name=".Declaracion" />
        <activity
            android:name=".PDFAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".PdfActivity" />
        <activity android:name=".Consulta" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SliderAdapterCalendario"
            tools:ignore="Instantiatable" />
        <activity android:name=".CaledarioCompleto" />
        <activity android:name=".Calendario" />
        <activity android:name=".RecuperaSoporte" />
        <activity android:name=".RecuActivos" />
        <activity android:name=".RecuJubilados" />
        <activity android:name=".RecuperarContrasena" />
        <activity android:name=".SeguroFacul" />
        <activity android:name=".Recaida" />
        <activity android:name=".Incapacidades" />
        <activity android:name=".TiposDeContrato" />
        <activity android:name=".Jubilacion" />
        <activity android:name=".Festivos" />
        <activity android:name=".Sustis" />
        <activity android:name=".PliegoTesta" />
        <activity android:name=".InfoPases" />
        <activity android:name=".Pases" />
        <activity android:name=".Permutas" />
        <activity android:name=".Tabulador" />
        <activity android:name=".Faltas" />
        <activity android:name=".ModificacionesContra" />
        <activity android:name=".ContratoColectivoTrabajadores" />
        <activity android:name=".RolVacacional" />
        <activity android:name=".Noticias" />
        <activity android:name=".Promociones" />
        <activity android:name=".SubMenuActivos" />
        <activity android:name=".WbView" />
        <activity android:name=".MenuPrincipalAgenda" />
        <activity android:name=".New" />
        <activity android:name=".NewLicencia" />
        <activity android:name=".NewOtros" />
        <activity android:name=".NewSusti" />
        <activity android:name=".PasesAgenda" />
        <activity android:name=".Otros" />
        <activity android:name=".Licencia" />
        <activity android:name=".SustisAgenda" />
        <activity android:name=".Edit" />
        <activity android:name=".EditLicencia" />
        <activity android:name=".EditOtros" />
        <activity android:name=".EditSusti" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2736592244570345~6727086187" />
    </application>

</manifest>